*{
    margin: 0;
    padding: 0;
}
.finfo
{
    max-width: 600px;
    margin: auto;
    background-color:rgb(165, 165, 162);
    margin-top: 100px;
}
.finfo button{
    background-color: black;
    color: azure;
    border-radius: 40px;
    border: none;
    width: 10vw;
    margin-left: 230px;
    font-size: 23px;
    
}