.body{
    margin: 0%;
    padding: 0%;

}
.container-fluid{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}
.navbar-nav{
    display: flex;
    margin-left:20%;
    font-size: 26px;
    font-weight: 600;
    gap: 40px;
   align-items: center;

}
.logo{
    height: 7vw;
    width: 15vw;
     margin-left: 15px;
}
.logo img{
    background-size: contain;
     margin-top: 5px;
    align-items: center;
    justify-content: center;

}